body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: ;
}

.drawn-me-img {
  height: 100px;
  width: auto;
}

.header-links {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
}