* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*header*/

.header {
  height: 100px;  
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-color: #f8f8ff;
}

.logo {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 36px;
  color: #133b4f;
}

.logo span {
  color: #fca70c;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block;
}

li a::after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: #c4c4f7;
  transition: all .5s;
}

li a:hover::after {
  width: 100%;
}

/*index page main section*/

.main {
  display: flex;  
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center; 
}

.main-img {
  max-width: 670px;
  height: auto;
  border-radius: 50%;
}

.main-left {
  width: 30%;
}

.main-left h1 {
  font-size: 54px;
  color: #133b4f;
  font-weight: 700;
}

.main-left h1 span {
  color: #fca70c;
}

.main-left p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 31.5px;
  margin: 30px 0;
}

.contactme-btn {
  padding: 15px 30px;
  background-color: #fca70c;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.learnmore-btn {
  padding: 15px 30px;
  background-color: #fff;
  color: #133b4f;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  border: 1px solid #133b4f;
  border-radius: 50px;
  cursor: pointer;
}

.main-left button {
  margin: 0 20px;
}

/*contact page main section*/

.contact-container {
  display: flex;
  flex-direction: column;  
  align-items: center;
  height: calc(100vh - 100px);    
  line-height: 31.5px;
  margin: 100px 0;
}

.contact-me h1 {
  font-weight: 700;
  font-size: 54px;
  color: #133b4f;
  padding-bottom: 100px;  
}

.contact-me h1 span {
  color: #fca70c;
}

.contact-info p {
  font-size: 24px;
  color: #3a3a3a;
  padding: 15px 0;
}

.contact-info p span {
  font-weight: 700;
  color: #133b4f; 
}

/*about page main section*/

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 31.5px;
  margin: 100px 0;
}

.about-headings {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.about-headings h1 {
  font-weight: 700;
  font-size: 54px;
  color: #133b4f;
  padding-bottom: 50px;
}

.about-headings h2 {
  font-weight: 700;
  font-size: 36px;
  color: #fca70c;
  padding-bottom: 100px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.about-myself h3 {
  font-weight: 700;
  font-size: 24px;
  color: #133b4f;
  padding-bottom: 50px;
}

.about-myself p {
  font-size: 18px;
  color: #3a3a3a;
  padding-bottom: 15px;
  text-align: justify;
}

.about-myself p a {
  color: #133b4f;
}

.about-myself p span {
  color: #fca70c;
}

.about-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.about-progress h3 {
  font-weight: 700;
  font-size: 24px;
  color: #133b4f;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-progress p {
  font-size: 18px;
  color: #3a3a3a;
  padding-bottom: 15px;
  text-align: justify;
}

.about-progress p a {
  color: #133b4f;
}


.about-summarize {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.about-summarize h3 {
  font-weight: 700;
  font-size: 24px;
  color: #133b4f;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-summarize p {
  font-size: 18px;
  color: #3a3a3a;
  padding-bottom: 15px;
  text-align: justify;
}

.about-summarize p span {
  color: #fca70c;
}

.about-summarize p a {
  color: #133b4f;
}